.selected{
    background-color: #b59ec5;
}

.form-error{
    color:red;
    border:1px solid red ;
}

.product-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100%,20px);

    background-color: #dddfd5;
    border: 1px solid #4b0082;
    margin: 20px;

    padding: 30px 0px;


}
.product-container{
    width: 70%;
    padding: 1px 10px;
    cursor: pointer;
}

.button-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: calc(100%,20px);

    margin-top: 50px;

}

.button-box button{
    padding: 0.8rem;
    margin: 0.3rem;
    cursor: pointer;
    border: none;
    background-color: #dddfd5;
}

.button-box button:hover{
    padding: 0.8rem;
    margin: 0.3rem;
    cursor: pointer;
    border: none;
    background-color:#b59ec5;
}

.form-container{
    display: flex;
    flex-direction: column;
    width: calc(100%,2rem);
    margin: 0px 2rem;

}

.form-container label,.form-container input,.form-container button{
    padding: 0.3rem;
}

.form-container button{
    border: none;
    background-color: #dddfd5;

}
.form-container button:hover{
    border: none;
    background-color:#b59ec5;
    cursor: pointer;
    
}

.form-container span{
    color: red;
}